@import './variables.scss';

html {
  scroll-behavior: smooth;
  overflow-y: scroll;

  body {
    color: $brown;
    background-color: $yellow;
    overflow-x: hidden;

    h2 {
      font-weight: 100;
      font-size: 1.7rem;
    }

    h3 {
      font-weight: 100;
      font-size: 1.5rem;
    }

    h4 {
      font-weight: 100;
      font-size: 1.3rem;
    }

    a {
      color: $blue;
      &:hover {
        color: #bbb;
        text-decoration: none;
      }
    }
  }
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
